.btn {
  margin-top: -7.5px;
  margin-left: 10px;
}

.collection .collection-item {
  padding: 12px 20px;
}

html,
body,
.login-box {
  height: 100vh;
}

.card .card-action {
  border-top: 0;
}

.form-signin .btn {
  margin-top: 0;
  margin-left: 0;
}

.search {
  background: #fff;
  float: right;
  color: #000;
  height: 48px !important;
  margin-top: 8px;
  margin-right: 20px;
}

.search:hover {
  background-color: #fff;
}

.use i {
  margin-right: 5px;
}
